@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #F4E3D7;
    font-family: 'Oswald', sans-serif;
    margin: auto;
}
#navbar{
    color: #F4E3D7;
    background-color: #3E4066;
    position: sticky;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center
}
#logo{
    padding-left: 20px;
    font-size:x-large;
}
#menu{
    display: inline-flex;
    flex-direction: row;
    float: right;
}
ul{
    display: inline-flex;
    flex-direction: row;
    float: right;
    font-size: large;
    
}
.menue_iteams{
    list-style: none;
    padding: 10px ;
    
}
a {
    text-decoration: none;
    color: #EB4464;
}
a:active{
    color: #F4E3D7;
}
a:hover{
    color: #F4E3D7;
}
p{
    text-align: justify;
}

/* Landing page starts here*/
#land{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* Landing page ends here*/